@import "../Css/variable";

.banner{
    scroll-behavior: smooth;
    background-color: $dark-Blue;
   
        background-image: url("../Assets/bgMainTranparent.png");
        background-size: 100% auto ;
        background-attachment: fixed;
    // max-height: 100vh;
    width: 100%;
    padding: 0% $leftRight-padding-nonResponsive;

    .my_container{

        // padding-top: 25vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        // grid-template-rows: 100vh;
        grid-gap: 20px;
        align-items: center;


        .description{

            padding: 10% 0%;
            margin-top: 0vh;
            // height: 100vh;
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            .wrapper{

                padding-right: 10px;
                h1{
                    font-size: 3em;
                    color: $pink;
                    letter-spacing: 2px;
                    padding: 0px;
                    margin: 0px;
                    margin-bottom: 2vh;
                    width: 100%;
                }
                p{
                    color: $font-over-blue;
                    text-align: justify;
                    width: 100%;
                    font-size: 20px;
                    line-height: 30px;
                    margin-bottom: 4vh;
                }
                .getStarted{
                    background-color: $pink;
                    padding: 10px 20px;
                    color: $font-over-blue;
                    font-weight: bold;
                    border-radius: 10px;
                    transition: 0.5s;
                    text-decoration: none;

                }
                .getStarted:hover{
                    padding: 12px 24px;
                    text-decoration: none;
                    color: $pink;
                    background-color: $font-over-blue;
                }
            }

        }
        .image{

            margin-top: 0vh;
            display: flex;
            margin: auto;
            position: relative;
            // animation: mainImage 4s infinite;

            .wrapperImg{

                text-align: center;
                position: relative;

                img{
                    width: 100%;

                }
            }
        }

    }
}

@keyframes mainImage{
    0%{
        top:0px;
    }
    50%{
        top: -40px;
    }
    100%{
        top:0px;
    }
}

.content{
    scroll-behavior: smooth;
    background-color: $dark-Blue;
    color: $font-over-blue;
    min-height: 100vh;
    width: 100%;
    padding: 0px $leftRight-padding-nonResponsive;


    // .part1{
    //     display: grid;
    //     grid-template-columns:1fr 1fr 1fr ;
    //     min-height: 100vh;
    //     grid-gap: 4%;
    //     // padding: 5% 0%;
    //     align-items: center;

    //     div{
    //         margin-top: 10vh;
    //         text-align: center;
    //         justify-items: center;
    //         display: grid;
    //         //grid-template-rows: minmax(,auto);
    //         grid-gap: 6%;
    //         margin-bottom: 20vh;
    //         border-radius: 10px;


    //         img{
    //             width: 50%;
    //             margin-bottom: 5vh;
    //         }
    //         h3{
    //             font-size: 40px;
    //             color: $pink;
    //             letter-spacing: 2px;
    //             padding: 0px;
    //             margin: 0px;
    //             margin-bottom: 2vh;
    //             width: 100%;
    //         }
    //         p{
    //             text-align: justify;
    //             font-size: 20px;
    //         }
    //     }
    // }
    .part2{
        margin-top: 1%;
        display: grid;
        grid-template-columns:1fr 1fr;
        height: 100vh;
        align-items: center;
    //    padding: 5% 0%;

       .image{
           justify-items: center;
           text-align: center;
           position: relative;
           top: 0px;
           animation: mainImage 4s infinite;
           img{
               width: 40%;
           }
       }
       .description{
          display: grid;
          grid-template-rows:1fr ;
          h5{
              font-size: 40px;
              color: $pink;
              padding-bottom: 20px;

          }
          p{
                padding-bottom: 20px;
              font-size: 20px;

          }
          .buttondescription{
              grid-template-columns: none;
              grid-template-rows: none;
              a{
                margin-right: 10px;
                border-radius: 5px;
                transition: 0.5s;
                opacity: 1;
                img{
                    width: 20%;
                }
                span{

                    background-color: $pink;
                    color: $font-over-blue;
                    border-radius: 10px;
                    padding: 6px 11px;

                }
              }
              a:hover{
                  opacity: 0.6;
                  text-decoration: none;
              }
          }
       }
   }

    .part3{
        
        margin-top: 20%;
        min-height: 100vh;
       display: flex;
       position: relative;
       flex-wrap: wrap;
       justify-content: space-around;

       .box:hover img {
           width: 120%;
           opacity: 0.8;
           left: -10%;
           top: -10%;
       }

       



       .box{
           border-radius: 20px;
           width: 70vh;
           min-height: 50vh;
           position: relative;
           overflow: hidden;
           margin-bottom: 5%;
           transition: 0.5s;
           img{
               top: -100px;
               left: -10vh;
               width: 100vh;
               position: absolute;
               opacity: 0.4;
               transition: 0.5s;
           }

           .boxDesc{

                height: 100%;
                position: relative;
                display: grid;
                grid-template-rows: 1fr;
                align-items: flex-end;
                transition: 0.5s;
                div{
                    // padding: 20px 10px;
                    
                    width: 100%;
                    // padding-top: 5%;
                    // background: linear-gradient(123deg, rgba(13,16,47,1) 0%, rgba(13,16,60,1) 100%);
                    background-color: $pink;
                    position: relative;
                    h3{
                        font-size: 25px;
                        color: $font-over-blue;
                        font-weight: 600;
                        padding-bottom: 10px;
                        padding: 10px 10px;
                    }
                    p{
                        color: $dark-Blue;
                        padding-bottom: 10px;
                        padding: 5px 10px;
                    }
                    a{  
                        background-color: $font-over-blue;
                        display: flex;
                        width: 100%;
                        text-align: center;
                        justify-content: center;
                        padding: 10px 0px;
                        text-decoration: none;
                        position: relative;
                        transition: 0.5s;
                        top: 30%;
                        font-weight: 700;
                       i{
                           padding: 2px 0px;
                           box-sizing: border-box;
                           padding-left: 3px;
                           font-size: 14px;
                           position: relative;
                           transition: 0.5s;
                       }
                       

                       
                    }
                    a:hover{
                        color: $pink;
                    }

                    a:hover i{
                        padding-left: 10px;

                    }
                    
                
                }

           }
           .boxDesc:hover a{
               top:0%;
           }
       }


    }
}


@media(max-width:1124px){
    .banner{
        scroll-behavior: smooth;
        background-color: $dark-Blue;
        // max-height: 100vh;
        width: 100%;
        padding: 0% $leftRight-padding-nonResponsive;
        margin-bottom: 0%;
        .my_container{

            // padding-top: 25vh;
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-top: 5vh;
            grid-template-rows: minmax(10vh,auto);
            grid-gap: 30px;
            align-items: stretch;
            


            .description{
                
                margin-top: 0vh;
                display: grid;
                grid-template-rows: auto;
                .wrapper{
                    padding-right: 10px;
                    h1{
                        font-size: 3em;
                        color: $pink;
                        letter-spacing: 2px;
                        padding: 0px;
                        margin: 0px;
                        margin-bottom: 2vh;
                        width: 100%;
                    }
                    p{ 
                        color: $font-over-blue;
                        text-align: justify;
                        width: 100%;
                        font-size: 17px;
                        line-height: 30px;
                        margin-bottom: 2vh;
                    }
                    .getStarted{
                        font-size: 10px;
                        background-color: $pink;
                        padding: 10px 20px;
                        color: $font-over-blue;
                        font-weight: 900;
                        border-radius: 10px;
                        transition: 0.5s;

                    }
                    span{
                        font-size: 15;
                        padding-right: 15px;
                    }
                    .getStarted:hover{
                        padding: 12px 24px;
                        text-decoration: none;
                        color: $pink;
                        background-color: $font-over-blue;
                    }
                }

            }
            .image{
                position: relative;
                
                display: grid;
                grid-template-rows: 1fr;
                align-items: center;
                
                .wrapper{
                    text-align: center;
                    
                    position: relative;
                    padding-top: 50vh;
                    transform: translateY(-25vh);
                    img{
                        width: 100%;

                    }
                }
            }

        }
    }
    .content{
        scroll-behavior: smooth;
        background-color: $dark-Blue;
        color: $font-over-blue;
        min-height: 0vh;
        width: 100%;
        padding: 0px $leftRight-padding-nonResponsive;
    
    
        // .part1{
        //     display: grid;
        //     grid-template-columns:1fr 1fr 1fr ;
        //     min-height: 100vh;
        //     grid-gap: 4%;
        //     // padding: 5% 0%;
        //     align-items: center;
    
        //     div{
        //         margin-top: 10vh;
        //         text-align: center;
        //         justify-items: center;
        //         display: grid;
        //         //grid-template-rows: minmax(,auto);
        //         grid-gap: 6%;
        //         margin-bottom: 20vh;
        //         border-radius: 10px;
    
    
        //         img{
        //             width: 50%;
        //             margin-bottom: 5vh;
        //         }
        //         h3{
        //             font-size: 40px;
        //             color: $pink;
        //             letter-spacing: 2px;
        //             padding: 0px;
        //             margin: 0px;
        //             margin-bottom: 2vh;
        //             width: 100%;
        //         }
        //         p{
        //             text-align: justify;
        //             font-size: 20px;
        //         }
        //     }
        // }
        .part2{
            
            display: grid;
            grid-template-columns:1fr 1fr;
            min-height: 20vh;
            height: auto;
            align-items: center;
        //    padding: 5% 0%;
            
           .image{
               justify-items: center;
               text-align: center;
               position: relative;
               top: 0px;
               animation: mainImage 4s infinite;
               img{
                   width: 40%;
               }
           }
           .description{
              display: grid;
              grid-template-rows:1fr ;
              h5{
                  font-size: 40px;
                  color: $pink;
                  padding-bottom: 20px;
    
              }
              p{
                    padding-bottom: 20px;
                  font-size: 8px;
                  line-height: 2em;
    
              }
              .buttondescription{
                  grid-template-columns: none;
                  grid-template-rows: none;
                  a{
                    margin-right: 10px;
                    border-radius: 5px;
                    transition: 0.5s;
                    opacity: 1;
                    img{
                        width: 20%;
                    }
                    span{
    
                        background-color: $pink;
                        color: $font-over-blue;
                        border-radius: 10px;
                        padding: 6px 11px;
    
                    }
                  }
                  a:hover{
                      opacity: 0.6;
                      text-decoration: none;
                  }
              }
           }
       }
    
        .part3{
            margin-top: 0%;
            min-height: 100vh;
           display: flex;
           position: static;
           flex-wrap: wrap;
           justify-content: space-around;
    
           .box:hover img {
               width: 120%;
               opacity: 0.8;
               left: -10%;
               top: -10%;
           }
    
           
    
    
    
           .box{
               border-radius: 20px;
               width: 70vh;
               min-height: 50vh;
               position: relative;
               overflow: hidden;
               margin-bottom: 5%;
               transition: 0.5s;
               img{
                   top: -100px;
                   left: -10vh;
                   width: 100vh;
                   position: absolute;
                   opacity: 0.4;
                   transition: 0.5s;
               }
    
               .boxDesc{
    
                    height: 100%;
                    position: relative;
                    display: grid;
                    grid-template-rows: 1fr;
                    align-items: flex-end;
                    transition: 0.5s;
                    div{
                        // padding: 20px 10px;
                        
                        width: 100%;
                        // padding-top: 5%;
                        // background: linear-gradient(123deg, rgba(13,16,47,1) 0%, rgba(13,16,60,1) 100%);
                        background-color: $pink;
                        position: relative;
                        h3{
                            font-size: 25px;
                            color: $font-over-blue;
                            font-weight: 600;
                            padding-bottom: 10px;
                            padding: 10px 10px;
                        }
                        p{
                            color: $dark-Blue;
                            padding-bottom: 10px;
                            padding: 5px 10px;
                        }
                        a{  
                            background-color: $font-over-blue;
                            display: flex;
                            width: 100%;
                            text-align: center;
                            justify-content: center;
                            padding: 10px 0px;
                            text-decoration: none;
                            position: relative;
                            transition: 0.5s;
                            top: 30%;
                            font-weight: 700;
                           i{
                               padding: 2px 0px;
                               box-sizing: border-box;
                               padding-left: 3px;
                               font-size: 14px;
                               position: relative;
                               transition: 0.5s;
                           }
                           
    
                           
                        }
                        a:hover{
                            color: $pink;
                        }
    
                        a:hover i{
                            padding-left: 10px;
    
                        }
                        
                    
                    }
    
               }
               .boxDesc:hover a{
                   top:0%;
               }
           }
    
    
        }
    }

}

@media (max-width:858px){
    .banner{

        background-color: $dark-Blue;
        background-image: url("../Assets/bgMainTranparent.png");
        background-size: 100% auto ;
        // min-height: 100vh;
        width: 100%;
        padding: 0% $leftRight-padding-nonResponsive;
        margin-bottom: 0%;

        .my_container{
            display: grid;
            grid-template-columns: none;
            grid-template-rows: minmax(100px, auto);
            grid-gap: 20px;

            .description{
                height: 100vh;
                display: grid;
                grid-template-rows: 1fr 1fr 1fr;

                .wrapper{
                    h1{
                        font-size: 40px;
                        color:$pink;
                        letter-spacing: 2px;
                        padding: 0px;
                        margin: 0px;
                        text-align: justify;
                        margin-bottom: 2vh;
                        width: 100%;

                    }
                    p{
                        margin-bottom: 3vh;
                        color: $font-over-blue;
                        text-align: justify;
                        width: 100%;
                        font-size: 15px;
                        line-height: 27px;

                    }
                }

            }
            .image{
                display: none;
              .wrapper{
                  margin-top: 10vh;
                  text-align: center;
                  img{
                      width: 70vh;
                      height: auto;
                    }
                }
            }
        }
    }

    .content{
        min-height: 100vh;
        width: 100%;
        padding: 0px $leftRight-padding-nonResponsive;
        // .part1{
        //     padding-top: 10vh;
        //     margin-top: 0vh;
        //     display: grid;
        //     grid-template-columns:none ;
        //     grid-template-rows: auto;
        //     min-height: 100vh;
        //     grid-gap: 2vh;
        //     // // padding: 5% 0%;
        //     div{
        //         align-items: center;
        //         text-align: center;
        //         justify-items: center;
        //         display: grid;
        //         grid-template-rows: minmax(50px,auto);
        //         padding: 10px;
        //         grid-gap: 2vh;
        //         box-shadow: 0 14px 28px rgba(0,0,0,0.05), 0 10px 10px rgba(0,0,0,0.02);
        //         img{
        //             width: 20vh;
        //         }
        //     }
        // }
        .part2{
            padding-top: 10vh;
            display: block;
            grid-template-columns:0fr 1fr 0fr;
            height: 100vh;
            // padding: 5% 0%;
            padding-top: 10vh;

            .dummy{
                display: none;
            }

            .image{
                justify-items: center;
                text-align: center;
                margin-bottom: 5vh;
                img{
                    width: 30vh;
                }
            }
            .description{
               display: grid;
               grid-template-rows:1fr;
               text-align: center;
               h5{
                   font-size: 30px;
                   color: $pink;
               }
               p{
                   font-size: 20px;
               }

               .buttondescription{

                grid-template-columns: none;
                grid-template-rows: none;
                a{
                    margin-top: 20%;
                    margin-right: 10px;
                    border-radius: 5px;
                    transition: 0.5s;
                    opacity: 1;
                    img{
                        width: 40%;
                    }
                    span{
                        background-color: $pink;
                        color: $font-over-blue;
                        border-radius: 10px;
                        padding: 6px 11px;

                    }
                }
                a:hover{
                    opacity: 0.6;
                    text-decoration: none;
                }
            }
            }

        }
        .part3{
            margin-top: 20%;
            min-height: 100vh;
           display: flex;
           position: relative;
           flex-wrap: wrap;
           justify-content: space-around;

           .box:hover img{
               width: 120%;
               opacity: 0.8;
               left: -10%;
               top: 0px;

           }


           .box{
               border-radius: 20px;
               width: 70vh;
               min-height: 50vh;
               position: relative;
               overflow: hidden;
               
               transition: 0.5s;
               img{
                   top: -100px;
                   left: -10vh;
                   width: 100vh;
                   position: absolute;
                   opacity: 0.4;
                   transition: 0.5s;
               }

               .boxDesc{

                    height: 100%;
                    position: relative;
                    display: grid;
                    grid-template-rows: 1fr;
                    align-items: flex-end;
                    transition: 0.5s;
                    div{
                        
                        width: 100%;
                        // padding-top: 5%;
                        h3{
                            font-size: 20px;

                            font-weight: 600;
                            
                        }
                        p{

                        }
                    }

               }
           }


        }
    }


}

// @media (max-width:320px){

//     .banner{
//         background-color: $dark-Blue;
//         height: 100vh;
//         width: 100%;
//         padding: 0% $leftRight-padding-nonResponsive;

//         .my_container{
//             display: grid;
//             grid-template-columns: none;
//             grid-template-rows: minmax(100px, auto);
//             grid-gap: 20px;

//             .description{

//                 display: grid;
//                 grid-template-rows: 1fr 1fr 1fr;
//                 align-items: left;
//                 text-align: left;
//                 justify-content: left;
//                 .wrapper{
//                     h1{
//                         font-size: 25px;
//                         color:$pink;
//                         letter-spacing: 2px;
//                         padding: 0px;
//                         margin: 0px;

//                         margin-bottom: 2vh;
//                         width: 100%;
//                     }
//                     p{
//                         margin-bottom: 3vh;
//                         color: $font-over-blue;
//                         text-align: justify;
//                         width: 100%;
//                         font-size: 14px;
//                         line-height: 20px;
//                     }
//                     a{
//                         padding: 4px 10px ;
//                         border-radius: 4px;
//                     }
//                 }

//             }

//         }
//     }
//     .whyLiveTask{
//         .carousel-item{
//             padding-top: 20vh;
//             height: 100vh;
//             width: 100%;
//             padding: 0px $leftRight-padding-nonResponsive;
//             .contentCarousel{

//             }
//             .part1{
//                 margin-top: 0vh;
//                 display: block;
//                 grid-template-columns:1fr 1fr 1fr ;
//                 height: 100vh;
//                 grid-gap: 10%;
//                 padding: 2% 0%;
//                 div{
//                     text-align: center;
//                     justify-items: center;
//                     display: grid;
//                     grid-template-rows: minmax(50px,auto);
//                     padding: 10px;
//                     h3{
//                         font-size: 25px;
//                     }
//                     img{
//                         width: 10vh;
//                     }
//                     p{
//                         font-size: 20px;
//                     }
//                 }
//             }
//             .part2{

//                 margin-top: 5vh;
//                 display: block;
//                 grid-template-columns:0fr 1fr 0fr;
//                 height: 100vh;
//                 padding: 5% 0%;

//                 .dummy{
//                     display: none;
//                 }

//                 .image{
//                     justify-items: center;
//                     text-align: center;
//                     img{
//                         width: 20vh;
//                     }
//                     margin-bottom: 2vh;
//                 }
//                 .content{
//                    display: grid;
//                    grid-template-rows:1fr 1fr 1fr;
//                    text-align: center;
//                    h5{
//                        font-size: 35px;
//                        color: $pink;
//                    }
//                    p{
//                        font-size: 16px;
//                    }
//                 }

//             }
//         }

//     }
// }
