.banner {
  scroll-behavior: smooth;
  background-color: #0D102F;
  height: 100vh;
  width: 100%;
  padding: 0% 10%;
}

.banner .my_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 100vh;
      grid-template-rows: 100vh;
  grid-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner .my_container .description {
  margin-top: 0vh;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
}

.banner .my_container .description .wrapper {
  padding-right: 10px;
}

.banner .my_container .description .wrapper h1 {
  font-size: 55px;
  color: #33C17A;
  letter-spacing: 2px;
  padding: 0px;
  margin: 0px;
  margin-bottom: 2vh;
  width: 100%;
}

.banner .my_container .description .wrapper p {
  color: #FAFAFA;
  text-align: justify;
  width: 100%;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 5vh;
}

.banner .my_container .description .wrapper .getStarted {
  background-color: #33C17A;
  padding: 10px 20px;
  color: #FAFAFA;
  font-weight: bold;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.banner .my_container .description .wrapper .getStarted:hover {
  padding: 12px 24px;
  text-decoration: none;
  color: #33C17A;
  background-color: #FAFAFA;
}

.banner .my_container .image {
  position: relative;
  top: 0px;
  -webkit-animation: mainImage 4s infinite;
          animation: mainImage 4s infinite;
}

.banner .my_container .image .wrapper {
  text-align: center;
}

.banner .my_container .image .wrapper img {
  width: 100%;
  height: auto;
}

@-webkit-keyframes mainImage {
  0% {
    top: 0px;
  }
  50% {
    top: 30px;
  }
  100% {
    top: 0px;
  }
}

@keyframes mainImage {
  0% {
    top: 0px;
  }
  50% {
    top: 30px;
  }
  100% {
    top: 0px;
  }
}

.content {
  scroll-behavior: smooth;
  background-color: #0D102F;
  color: #FAFAFA;
  padding-top: 20vh;
  min-height: 100vh;
  width: 100%;
  padding: 0px 10%;
}

.content .part1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  min-height: auto;
  grid-gap: 4%;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.content .part1 div {
  text-align: center;
  justify-items: center;
  display: -ms-grid;
  display: grid;
  grid-gap: 5%;
  padding: 5%;
  margin-bottom: 20vh;
  border-radius: 10px;
}

.content .part1 div img {
  width: 40%;
  margin-bottom: 5vh;
}

.content .part1 div h3 {
  font-size: 40px;
  color: #33C17A;
  letter-spacing: 2px;
  padding: 0px;
  margin: 0px;
  margin-bottom: 2vh;
  width: 100%;
}

.content .part1 div p {
  text-align: justify;
  font-size: 20px;
}

.content .part2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  height: 80vh;
}

.content .part2 .image {
  justify-items: center;
  text-align: center;
  position: relative;
  top: 0px;
  -webkit-animation: mainImage 4s infinite;
          animation: mainImage 4s infinite;
}

.content .part2 .image img {
  width: 50%;
}

.content .part2 .description {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.content .part2 .description h5 {
  font-size: 40px;
  color: #33C17A;
}

.content .part2 .description p {
  font-size: 20px;
}

.content .part2 .description .buttondescription {
  -ms-grid-columns: none;
      grid-template-columns: none;
  -ms-grid-rows: none;
      grid-template-rows: none;
}

.content .part2 .description .buttondescription a {
  margin-right: 10px;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
}

.content .part2 .description .buttondescription a img {
  width: 20%;
}

.content .part2 .description .buttondescription a span {
  background-color: #33C17A;
  color: #FAFAFA;
  border-radius: 10px;
  padding: 6px 11px;
}

.content .part2 .description .buttondescription a:hover {
  opacity: 0.6;
  text-decoration: none;
}

@media (max-width: 858px) {
  .banner {
    background-color: #0D102F;
    background-image: url("../Assets/bgMainTranparent.png");
    background-size: 100% auto;
    min-height: 100vh;
    width: 100%;
    padding: 0% 10%;
  }
  .banner .my_container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: none;
        grid-template-columns: none;
    -ms-grid-rows: minmax(100px, auto);
        grid-template-rows: minmax(100px, auto);
    grid-gap: 20px;
  }
  .banner .my_container .description {
    height: 100vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
  }
  .banner .my_container .description .wrapper h1 {
    font-size: 35px;
    color: #33C17A;
    letter-spacing: 2px;
    padding: 0px;
    margin: 0px;
    text-align: justify;
    margin-bottom: 2vh;
    width: 100%;
  }
  .banner .my_container .description .wrapper p {
    margin-bottom: 3vh;
    color: #FAFAFA;
    text-align: justify;
    width: 100%;
    font-size: 15px;
    line-height: 27px;
  }
  .banner .my_container .image {
    display: none;
  }
  .banner .my_container .image .wrapper {
    margin-top: 10vh;
    text-align: center;
  }
  .banner .my_container .image .wrapper img {
    width: 70vh;
    height: auto;
  }
  .content {
    min-height: 100vh;
    width: 100%;
    padding: 0px 10%;
  }
  .content .part1 {
    padding-top: 10vh;
    margin-top: 0vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: none;
        grid-template-columns: none;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    min-height: 100vh;
    grid-gap: 2vh;
  }
  .content .part1 div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    justify-items: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: minmax(50px, auto);
        grid-template-rows: minmax(50px, auto);
    padding: 10px;
    grid-gap: 2vh;
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.05), 0 10px 10px rgba(0, 0, 0, 0.02);
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.05), 0 10px 10px rgba(0, 0, 0, 0.02);
  }
  .content .part1 div img {
    width: 20vh;
  }
  .content .part2 {
    padding-top: 10vh;
    display: block;
    -ms-grid-columns: 0fr 1fr 0fr;
        grid-template-columns: 0fr 1fr 0fr;
    height: 100vh;
    padding-top: 10vh;
  }
  .content .part2 .dummy {
    display: none;
  }
  .content .part2 .image {
    justify-items: center;
    text-align: center;
    margin-bottom: 5vh;
  }
  .content .part2 .image img {
    width: 30vh;
  }
  .content .part2 .description {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    text-align: center;
  }
  .content .part2 .description h5 {
    font-size: 40px;
    color: #33C17A;
  }
  .content .part2 .description p {
    font-size: 20px;
  }
  .content .part2 .description .buttondescription {
    -ms-grid-columns: none;
        grid-template-columns: none;
    -ms-grid-rows: none;
        grid-template-rows: none;
  }
  .content .part2 .description .buttondescription a {
    margin-top: 20%;
    margin-right: 10px;
    border-radius: 5px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    opacity: 1;
  }
  .content .part2 .description .buttondescription a img {
    width: 40%;
  }
  .content .part2 .description .buttondescription a span {
    background-color: #33C17A;
    color: #FAFAFA;
    border-radius: 10px;
    padding: 6px 11px;
  }
  .content .part2 .description .buttondescription a:hover {
    opacity: 0.6;
    text-decoration: none;
  }
}
/*# sourceMappingURL=content.css.map */