@import "../Css/variable";

.banner{
    scroll-behavior: smooth;
    background-color: $dark-Blue;
    height: 100vh;
    width: 100%;
    padding: 0% $leftRight-padding-nonResponsive;
    .my_container{
        
        // padding-top: 25vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100vh;
        grid-gap: 20px;
        
        align-items: center;
        

        .description{
            margin-top: 0vh;
            height: 100vh;
            display: grid;       
            grid-template-rows: 1fr 1fr 1fr;
            
            
           
            .wrapper{
                padding-right: 10px;
                h1{
                    font-size: 55px;
                    color: $pink;
                    letter-spacing: 2px;
                    padding: 0px;
                    margin: 0px;
                    margin-bottom: 2vh;
                    width: 100%;
                }
                p{
                    color: $font-over-blue;
                    text-align: justify;
                    width: 100%;
                    font-size: 20px;
                    line-height: 30px;
                    margin-bottom: 5vh;
                }
                .getStarted{
                    background-color: $pink;
                    padding: 10px 20px;
                    color: $font-over-blue;
                    font-weight: bold;
                    border-radius: 10px;
                    transition: 0.5s;

                }
                .getStarted:hover{
                    padding: 12px 24px;
                    text-decoration: none;
                    color: $pink;
                    background-color: $font-over-blue;
                }
            }
            
        }
        .image{
            position: relative;
            top:0px;
            animation: mainImage 4s infinite;
            .wrapper{
                
                text-align: center;
                img{
                    
                    width: 100%;
                    height: auto;
                }
            }
        }    

    }
}

@keyframes mainImage{
    0%{
        top:0px;
    }
    50%{
        top: 30px;
    }
    100%{
        top:0px;
    }
}

.content{
    scroll-behavior: smooth;
    background-color: $dark-Blue;
    color: $font-over-blue;
    padding-top: 20vh;
    min-height:100vh;
    width: 100%;
    padding: 0px $leftRight-padding-nonResponsive;
    
    // .part1{
    //     display: grid;
    //     grid-template-columns:1fr 1fr 1fr ;
    //     min-height: 100vh;
    //     grid-gap: 4%;
    //     // padding: 5% 0%;
    //     align-items: center;
        
    //     div{
    //         margin-top: 10vh;
    //         text-align: center;
    //         justify-items: center;
    //         display: grid;
    //         //grid-template-rows: minmax(,auto);
    //         grid-gap: 6%;
    //         margin-bottom: 20vh;
    //         border-radius: 10px;
            
        
    //         img{
    //             width: 50%;
    //             margin-bottom: 5vh;
    //         }
    //         h3{
    //             font-size: 40px;
    //             color: $pink;
    //             letter-spacing: 2px;
    //             padding: 0px;
    //             margin: 0px;
    //             margin-bottom: 2vh;
    //             width: 100%;
    //         }
    //         p{
    //             text-align: justify;
    //             font-size: 20px;
    //         }
    //     }
    // }
    .part2{
        padding-top: 20vh;
        display: grid;
        grid-template-columns:1fr 1fr; 
        height: 90vh;
    //    padding: 5% 0%;
   
       .image{
           justify-items: center;
           text-align: center;
           position: relative;
           top: 0px;
           animation: mainImage 4s infinite;
           img{
               width: 50%;
           }
       }
       .description{
          display: grid;
          grid-template-rows:1fr ;
          h5{
              font-size: 40px;
              color: $pink;
          }
          p{
              font-size: 20px;
          }
          .buttondescription{
              grid-template-columns: none;
              grid-template-rows: none;
              a{
                margin-right: 10px;
                border-radius: 5px;
                transition: 0.5s;
                opacity: 1;
                img{
                    width: 20%;
                }
                span{
                   
                    background-color: $pink;
                    color: $font-over-blue;
                    border-radius: 10px;
                    padding: 6px 11px;
                   
                }
              }
              a:hover{
                  opacity: 0.6;
                  text-decoration: none;
              }
          }
       }    
   }

    .part3{
        padding-top: 10vh;
       display: flex;
       position: relative;
       flex-wrap: wrap;
       justify-content: space-around;
      
       .box:hover img{
           width: 120%;
           opacity: 0.8;
           left: -10%;
           top: -10%;
       }
      

       .box{
           width: 70vh;
           min-height: 50vh;
           position: relative;
           overflow: hidden;
           margin-bottom: 5%;
           transition: 0.5s;
           img{
               top: 0px;
               left: 0px;
               width: 102%;
               position: absolute;
               opacity: 0.4;
               transition: 0.5s;
           }
          
           .boxDesc{
               
                height: 100%;
                position: relative;
                display: grid;
                grid-template-rows: 1fr;
                align-items: flex-end;
                transition: 0.5s;
                div{
                    padding: 0px 10px;
                    width: 100%;
                    padding-top: 50%;
                    background: linear-gradient(0deg, rgba(13,16,47,1) 0%, rgba(13,16,47,0) 100%);
                    h3{
                        font-size: 30px;
                        color: $pink;
                        font-weight: 400;
                    }
                    p{
     
                    }
                }

           }
       }


    }
}





@media (max-width:858px){
    .banner{
        
        background-color: $dark-Blue;
        background-image: url("../Assets/bgMainTranparent.png");
        background-size: 100% auto ;
        min-height: 100vh;
        width: 100%;
        padding: 0% $leftRight-padding-nonResponsive;
        
        .my_container{
            display: grid;
            grid-template-columns: none;
            grid-template-rows: minmax(100px, auto);
            grid-gap: 20px;
    
            .description{
                height: 100vh;
                display: grid;
                grid-template-rows: 1fr 1fr 1fr;
               
                .wrapper{
                    h1{
                        font-size: 35px;
                        color:$pink;
                        letter-spacing: 2px;
                        padding: 0px;
                        margin: 0px;
                        text-align: justify;
                        margin-bottom: 2vh;
                        width: 100%;
                        
                    }
                    p{
                        margin-bottom: 3vh;
                        color: $font-over-blue;
                        text-align: justify;
                        width: 100%;
                        font-size: 15px;
                        line-height: 27px;

                    }
                }
                
            }
            .image{
                display: none;
              .wrapper{
                  margin-top: 10vh;
                  text-align: center;
                  img{
                      width: 70vh;
                      height: auto;
                    }
                }
            }    
        }
    }

    .content{
        min-height: 100vh;
        width: 100%;
        padding: 0px $leftRight-padding-nonResponsive;
        // .part1{
        //     padding-top: 10vh;
        //     margin-top: 0vh;
        //     display: grid;
        //     grid-template-columns:none ;
        //     grid-template-rows: auto;
        //     min-height: 100vh;
        //     grid-gap: 2vh;
        //     // // padding: 5% 0%;
        //     div{
        //         align-items: center;
        //         text-align: center;
        //         justify-items: center;
        //         display: grid;
        //         grid-template-rows: minmax(50px,auto);
        //         padding: 10px;
        //         grid-gap: 2vh;
        //         box-shadow: 0 14px 28px rgba(0,0,0,0.05), 0 10px 10px rgba(0,0,0,0.02);
        //         img{
        //             width: 20vh;
        //         }
        //     }
        // }
        .part2{
            padding-top: 10vh;
            display: block;
            grid-template-columns:0fr 1fr 0fr;
            height: 100vh;
            // padding: 5% 0%;
            padding-top: 10vh;

            .dummy{
                display: none;
            }
        
            .image{
                justify-items: center;
                text-align: center;
                margin-bottom: 5vh;
                img{
                    width: 30vh;
                }
            }
            .description{
               display: grid;
               grid-template-rows:1fr;
               text-align: center;
               h5{
                   font-size: 40px;
                   color: $pink;
               }
               p{
                   font-size: 20px;
               }

               .buttondescription{
                
                grid-template-columns: none;
                grid-template-rows: none;
                a{  
                    margin-top: 20%;
                    margin-right: 10px;
                    border-radius: 5px;
                    transition: 0.5s;
                    opacity: 1;
                    img{
                        width: 20%;
                    }
                    span{
                        background-color: $pink;
                        color: $font-over-blue;
                        border-radius: 10px;
                        padding: 6px 11px;
                        
                    }
                }
                a:hover{
                    opacity: 0.6;
                    text-decoration: none;
                }
            }
            }

        }
        .part3{
            display: block;
            position: relative;
            flex-wrap: wrap;
            justify-content: space-around; 
            margin-bottom: 10VH;
            .box:hover img{

                opacity: 0.8;
                width: 135%;
                left:-17.5%;
                top: 0%;
            }
            .box{
                width: 100%;
                min-height: 50vh;
                position: relative;
                overflow: hidden;
                margin-bottom: 10%;
                
                
                img{
                    width: 150%;
                    left:-25%;
                    top: -0%;
                    position: absolute;
                    opacity: 0.5;
                }
                .boxDesc{
                    
                     height: 100%;
                     position: relative;
                     display: grid;
                     grid-template-rows: 1fr;
                     align-items: flex-start;
                     div{
                         padding-top: 100%;
                         h3{
                           font-weight: bold;
                         }
                         p{
          
                         }
                     }
     
                }
            }
         }
    }

    
}

// @media (max-width:320px){

//     .banner{
//         background-color: $dark-Blue;
//         height: 100vh;
//         width: 100%;
//         padding: 0% $leftRight-padding-nonResponsive;
        
//         .my_container{
//             display: grid;
//             grid-template-columns: none;
//             grid-template-rows: minmax(100px, auto);
//             grid-gap: 20px;
    
//             .description{
                
//                 display: grid;
//                 grid-template-rows: 1fr 1fr 1fr;
//                 align-items: left;
//                 text-align: left;
//                 justify-content: left;
//                 .wrapper{
//                     h1{
//                         font-size: 25px;
//                         color:$pink;
//                         letter-spacing: 2px;
//                         padding: 0px;
//                         margin: 0px;
                        
//                         margin-bottom: 2vh;
//                         width: 100%;
//                     }
//                     p{
//                         margin-bottom: 3vh;
//                         color: $font-over-blue;
//                         text-align: justify;
//                         width: 100%;
//                         font-size: 14px;
//                         line-height: 20px;
//                     }
//                     a{
//                         padding: 4px 10px ;
//                         border-radius: 4px;
//                     }
//                 }
                
//             }
           
//         }
//     }
//     .whyLiveTask{
//         .carousel-item{
//             padding-top: 20vh;
//             height: 100vh;
//             width: 100%;
//             padding: 0px $leftRight-padding-nonResponsive;
//             .contentCarousel{
                
//             }
//             .part1{
//                 margin-top: 0vh;
//                 display: block;
//                 grid-template-columns:1fr 1fr 1fr ;
//                 height: 100vh;
//                 grid-gap: 10%;
//                 padding: 2% 0%;
//                 div{
//                     text-align: center;
//                     justify-items: center;
//                     display: grid;
//                     grid-template-rows: minmax(50px,auto);
//                     padding: 10px;
//                     h3{
//                         font-size: 25px;
//                     }
//                     img{
//                         width: 10vh;
//                     }
//                     p{
//                         font-size: 20px;
//                     }
//                 }
//             }
//             .part2{
                
//                 margin-top: 5vh;
//                 display: block;
//                 grid-template-columns:0fr 1fr 0fr;
//                 height: 100vh;
//                 padding: 5% 0%;

//                 .dummy{
//                     display: none;
//                 }
            
//                 .image{
//                     justify-items: center;
//                     text-align: center;
//                     img{
//                         width: 20vh;
//                     }
//                     margin-bottom: 2vh;
//                 }
//                 .content{
//                    display: grid;
//                    grid-template-rows:1fr 1fr 1fr;
//                    text-align: center;
//                    h5{
//                        font-size: 35px;
//                        color: $pink;
//                    }
//                    p{
//                        font-size: 16px;
//                    }
//                 }

//             }
//         }

//     }
// }
