@import "../Css/variable";

footer{
    padding: 2% $leftRight-padding-nonResponsive;
    background-color: black;
    .wrapper{
        color: $font-over-blue;
        display: flex;
        div{
            flex-grow: 1;
        }
        .cr{
            text-align: center;
            opacity: 0.4;
        }
    }
}

@media (max-width:858px){
    footer{
        padding: 1%;
        text-align: center;
        .wrapper{
            display: block;
        }
    }
}