@import "../Css/variable";

footer{
    padding: 2% $leftRight-padding-nonResponsive;
    background-color: black;
    .wrapper{
        color: $font-over-blue;
        display: flex;
        div{
            padding: 0px;
            margin: 0px;
            box-sizing: border-box;
            flex-grow: 1;
            .people{
                font-size: 10px;
                opacity: 0.2;
            }
        }
        .cr{
            text-align: center;
            opacity: 0.2;
            font-size: 10px;
        }
    }
}

@media (max-width:858px){
    footer{
        padding: 1%;
        text-align: center;
        .wrapper{
            display: block;
        }
    }
}