@import "../Css/variable";

//khusus navbar dan global styling

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    min-height: 200vh;
    font-family: 'Roboto', sans-serif;
    // filter: invert(1) hue-rotate(180deg);

}

.sticky{ //header tag when pannel scrolling 
    background-color: $dark-Blue;
    padding: 1.5vh $leftRight-padding-nonResponsive;
}

header{
    position: fixed;
    top:0px;
    left: 0px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 0.5% $leftRight-padding-nonResponsive;
    z-index: 1000;
    .checkbtn{
        display: none;
        position: relative;
        float: right;
        font-size: 25px;
        color: $font-over-blue;
    }
    #check{
        display: none;
    }
    .logo{
        text-decoration: none;
        position: relative;
        font-weight: 700;
        font-size: 1em;
        letter-spacing: 2px;
        transition: 0.6s;
        color:$font-over-blue;       
    }
    ul{
        list-style-type: none;
        position: relative;
        justify-content: center;
        align-items: center;
        display: flex;
        transition: 0.5s;
        li{
            position: relative;
            .buttonStart{
                background-color: $pink;
                padding: 5px 14px;
                border-radius: 10px;
                margin: 0px 20px;
                transition: 0.5s;
                box-sizing: border-box;
                opacity: 0;
                pointer-events: none;
            }
            .buttonStartSticky{
                pointer-events: visible;
                opacity: 1;
            }
            .buttonStart:hover{
                background-color: $font-over-blue;
                color: $pink;
                border-radius: 10px;
                padding: 6px 15px;
                top: 0px;
            }

            
            a{
                position: relative;
                text-decoration: none;
                padding: 5px 14px;
                margin: 0px 15px;
                transition: 0.5s;
                color: $font-over-blue;
                box-sizing: border-box;
                border-bottom: transparent;
                top: 0px;


                span{
                    margin-right: 3px;
                    font-size: 20px;
                    
                }
            }
            a:hover{
                text-decoration: none;
                color: $font-over-blue;
                border-radius: 10px;
                top: 10px;
                border-radius: 0px;
                
            }

            
        }
    }
}


.goTopButton{
    color:$font-over-blue;
    position: fixed;
    z-index: 10000000;
    width: 100%;
    height: 100vh;
    top:90vh;
    left: 95%;

    a{
        padding: 10px;
        background-color: $pink;
        color: $font-over-blue;
        border-radius: $font-over-blue;
        border-radius: 100%;
        font-size: 15px;
        transition: 0.5s;
        animation: updown 2s infinite;
        position: relative;
    }

    @keyframes updown {
       0%{
           top:0px;
       }
       50%{
           top:20px;
       }
       100%{
           top:0px;
       }
    }
    a:hover{
        background-color: $font-over-blue;
        color: $pink;
    }


}




@media (max-width:858px){

    .sticky{ //header tag when pannel scrolling 
        background-color: $dark-Blue;
        padding: 2.5% $leftRight-padding-nonResponsive;
    }

    header{
        padding: 1% $leftRight-padding-nonResponsive;
        position:fixed;
        ul{
            top:0px;
            left: -100%;
            position: absolute;
            padding: 20vh 0vh;
            display: grid;
            height: 100vh;
            width: 100%;
            text-align: left;
            z-index: -1;
            background: linear-gradient(123deg, rgba(13,16,47,1) 0%, rgba(13,16,60,1) 100%);                
            font-size: 25px;
                
        }
        .buttonStart{
            opacity: 1;
        }

        
        .checkbtn{
            display: block;
            float: right;
        }
    }

    .goTopButton{
        color:$font-over-blue;
        position: fixed;
        z-index: 10000000;
        width: 100%;
        height: 100vh;
        top:90vh;
        left: 80%;
    
        a{
            padding: 15px;
            background-color: $pink;
            color: $font-over-blue;
            border-radius: $font-over-blue;
            border-radius: 100%;
        }
    
    
    }
    
 
}

